<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.in28minutes.spring.basic.spring5steps.basic"/>


    <bean id="xmlJdbcConnection" class="com.in28minutes.spring.basic.spring5steps.scope.xml.XMLJdbcConnection"/>

    <bean id="xmlPersonDAO" class="com.in28minutes.spring.basic.spring5steps.scope.xml.XMLPersonDAO">
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection"/>
    </bean>

</beans>